<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="renderer" content="webkit|ie-stand" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <script src="https://cdn.bootcss.com/vue/1.0.28/vue.js"></script>
</head>
<body tracking-load="{{htmlWebpackPlugin.options.track}}">
<app></app>
</body>
</html>
